<!DOCTYPE html>
<html lang="en">
<head>
    <title>
Tabla Conteniod Informatico
    </title>
    </head>

    <body>
        <style>
            body {
                background-color: #c3c3c3;
            }
        </style>

<h1 class="text-center"> Tabla Contenido Informatico </h1>

<table border="3">
<tr>
       
    <th> ID_LECTURA </th>
    <th> TITULO </th>
    <th> NO. PAGINAS </th>
    <th> ID_CURSO </th>
    
</tr>

<tr>
    <th> 1 </th>
    <th> Word </th>
    <th> 20 </th>
    <th> 3 </th>
      
</tr>

<tr>
    <th> 2 </th>
    <th> Excel </th>
    <th> 36 </th>
    <th> 1 </th>
   
   
</tr>

<tr>
    <th> 3 </th>
    <th> Power Point </th>
    <th> 18 </th>
    <th> 2 </th>
       
</tr>

<tr>
    <th> 4 </th>
    <th> Excel </th>
    <th> 45 </th>
    <th> 1 </th>
    
</tr>

<tr>
    <th> 5 </th>
    <th> Base de datos </th>
    <th> 42 </th>
    <th> 1 </th>
   
</tr>

</table>

    </body>
    </html>