<!DOCTYPE html>
<html lang="en">
<head>
    <title>
Tabla Comentarios
    </title>
    </head>

    <body>
        <style>
            body {
                background-color: #c3c3c3;
            }
        </style>

<h1 class="text-center"> Tabla Comentarios </h1>

<table border="3">
<tr>
       
    <th> ID_COMENTARIO </th>
    <th> ID_USUARIO</th>
    <th> CONTENIDO </th>
    
</tr>

<tr>
    <th> 1 </th>
    <th> 2 </th>
    <th> Muy buen curso </th>
      
</tr>

<tr>
    <th> 2 </th>
    <th> 5 </th>
    <th> Exelente curso </th>
      
   
</tr>

<tr>
    <th> 3 </th>
    <th> 1 </th>
    <th> Bueno </th>
       
</tr>

<tr>
    <th> 4 </th>
    <th> 5 </th>
    <th> Me encanto </th>
    
</tr>

<tr>
    <th> 5 </th>
    <th> 4 </th>
    <th> Muy bueno </th>
   
</tr>

</table>

    </body>
    </html>