<!DOCTYPE html>
<html lang="en">
<head>
    <title>
Tabla  cursos usuario
    </title>
    </head>

    <body>
        <style>
            body {
                background-color: #c3c3c3;
            }
        </style>

<h1 class="text-center"> Tabla Cursos Usuario </h1>
<table border="3">
<tr>
       
    <th> Id_Usuario</th>
    <th> Id_Curso </th>
    
</tr>

<tr>
    <th> 1 </th>
    <th> 3 </th>
   
</tr>

<tr>
    <th> 2 </th>
    <th> 2 </th>
    
</tr>

<tr>
    <th> 3 </th>
    <th> 3 </th>
  
</tr>

<tr>
    <th> 4 </th>
    <th> 1 </th>
  
</tr>

<tr>
    <th> 5 </th>
    <th> 2 </th>
 
</tr>

</table>

    </body>
    </html>