<!DOCTYPE html>
<html lang="en">
<head>
    <title>
Tabla Comentarios
    </title>
    </head>

    <body>
        <style>
            body {
                background-color: #c3c3c3;
            }
        </style>

<h1 class="text-center"> Tabla Comentarios </h1>

<table border="3">
<tr>
       
    <th> ID_CURSO </th>
    <th> NOMBRE</th>
    <th> DESCRIPCION </th>
    
</tr>

<tr>
    <th> 1 </th>
    <th> Word </th>
    <th> Curso para principiantes en archivos de texto </th>
      
</tr>

<tr>
    <th> 2 </th>
    <th> Power point  </th>
    <th> Curso para presentaciones </th>
      
   
</tr>

<tr>
    <th> 3 </th>
    <th> Excel </th>
    <th> Curso de hojas de calculo </th>
       
</tr>

<tr>
    <th> 4 </th>
    <th> Base de datos </th>
    <th> <p>Curso recomendado para los de secundaria, sobre </p>
       <p>base de datos como realizar una buena administracion de informacion </p></th>
    
</tr>

<tr>
    <th> 1 </th>
    <th> Word </th>
    <th> Curso de Justificacion de texto </th>
   
</tr>

</table>

    </body>
    </html>