<!DOCTYPE html>
<html lang="en">
<head>
    <title>
Tabla usuario
    </title>
    </head>

    <body>
        <style>
            body {
                background-color: #c3c3c3;
            }
        </style>

<table border="3">
<tr>
       
    <th> NOMBRE </th>
    <th> APELLIDOS </th>
    <th> EDAD </th>
    <th> GRADO ACADEMICO </th>
    <th> SEXO </th>
    <th> ROL </th>
    <th> CORREO ELECTRONICO </th>
    <th> CONTRASEÑA </th>
</tr>

<tr>
    <th> Benjamin </th>
    <th> Mondragon Argueta </th>
    <th> 12 </th>
    <th>  6to de primaria</th>
    <th> Masculino </th>
    <th> Alumno </th>
    <th> benrs11@gmail.com </th>
    <th> patitofeo </th>
</tr>

<tr>
    <th> Alberto </th>
    <th> Rio Luna </th>
    <th> 10 </th>
    <th> 5to de primaria </th>
    <th> Masculino </th>
    <th> Alumno </th>
    <th> alberto123@gmail.com </th>
    <th> betoxdd </th>
</tr>

<tr>
    <th> Martin </th>
    <th> Iglesias Gonzalez </th>
    <th> 14 </th>
    <th> 2do de secundaria </th>
    <th> Masculino </th>
    <th> Alumno </th>
    <th> martin012@gmail.com </th>
    <th> osito </th>
</tr>

<tr>
    <th> Cesar </th>
    <th> Garcia Garcia </th>
    <th> 15 </th>
    <th> 3ero de secundaria </th>
    <th> Masculino </th>
    <th> Alumno </th>
    <th> cesargarciagmail.com</th>
    <th> niebla </th>
</tr>

<tr>
    <th> Daniela </th>
    <th> Bolaños Lopez </th>
    <th> 11 </th>
    <th> 5to de primaria </th>
    <th> Femenino </th>
    <th> Alumno </th>
    <th> dany@gmail.com </th>
    <th> spanki </th>
</tr>

</table>

    </body>
    </html>